.scheduleDetailsCard{
    background-color: white;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgb(194, 195, 194);
}

.scheduleCardTitle{
    /* line-height: 1px; */
}

.scheduleLocation{
    background-color: black;
    color: white;
    padding: 10px;
    font-size: 14px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.scheduleScore{
    line-height: 10px;
}


.teamsHomeAway{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.homeTeam{
    /* height: 130px; */
    width: 130px;
    /* border: 1px solid green; */

}

.homeTeam p{
    font-size: 14px;
}

.homeTeam p b{
    font-size: 20px;
}
.teamLogo{
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background-color: blue;
    border: 1px solid red;
}

.homeTeamImage{
  object-fit: contain;
  height: 100%;
  width: 100%;
  align-items: center;
}

.cardButton{
    outline: none;
    border: none;
    background-color: black;
    color: white;
    padding: 10px 30px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.5s ease-in-out;
    font-size: 12px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.cardButton:hover{
    background-color: yellow;
    color: black;
    /* padding: 10px 30px;
    border-radius: 10px; */
}