.container{
    margin-top: 100px;
}

.form_container {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    width: 400px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
  }
  
  .form_container h1 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
  }
  
  .form_container form {
    display: flex;
    flex-direction: column;
  }
  
  .form_container label {
    margin: 10px 0 5px;
    color: #555;
  }
  
  .form_container input[type="text"],
  .form_container input[type="password"],
  .form_container input[type="url"],
  .form_container input[type="date"],
  .form_container input[type="file"],
  .form_container textarea,
  .form_container select {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
  }
  
  .form_container textarea {
    resize: vertical;
  }
  
  .form_container select {
    padding: 10px;
  }
  
  .form_container input[type="checkbox"] {
    margin-right: 10px;
  }
  
  button.submit-btn {
    background-color: #008cba;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 20px;
  }
  
  button.submit-btn:hover {
    background-color: #005f8a;
  }
  
  .form_container input:required,
  .form_container textarea:required,
  .form_container select:required {
    border-left: 3px solid #ff6347;
  }