.container{
    border: 1px solid #e2e5ea;
    width: 100%;
    background-color: #f2f5f7;
}

.table{
    margin: 20px;
    display: flex;
    flex-direction: column;
    background-color: white;
    border: 1px solid #e2e5ea;
}

.homesets{
    display: flex;
    height: 55px;
    justify-content: center;
    align-items: center;
    /* border: 1px solid green; */
    padding: 1px;
}

.teamLogo{
    flex: 1;
    height: 100%;
}
.teamLogo img{
    height: 100%;
}
.homeTeamName{
    flex: 16;
    border-left: 1px solid #e2e5ea;
    display: flex;
    align-items: center;
    height: 100%;
    font-weight: 500;
    font-size: 1.375rem;
    

}
.homeTeamName p{
    margin-left: 10px;
}
.sets{
    flex: 1;
    border-left: 1px solid #e2e5ea;
    display: flex;
    align-items: center;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.finalScore{
    background-color: black;
    color: white;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
}